@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}
h1 {
  font-size: 2em;
}
button{
  font-size: 1.2em;
  width: 100%;
  height: 2.5em;
  transition: 0.2s all;
  cursor: pointer;
  background-color: #dddddd7d;
  border-color: #9c9c9c7d;
}
button:hover{
  transform: scale(0.98);
  background-color: #8f8f8f7d;
  border-color: #6060607d;
}
.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.calculator {
margin-left: 16%;
width: 400px;
height: 300px;
}
.display{
  font-size: 2em;
  width: 100%;
  text-align: right;
}